@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 12px;
}
body{
    font-family: 'Inter', sans-serif;
    background-color:rgb(0, 0, 0);
    color: rgb(88, 198, 163);
    line-height: 1.6;
}
img{
    max-width: 100%;
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color: rgb(88, 198, 163);
}
/* layout */
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background-color: rgb(26, 24, 24);
    grid-column: 1fr 1fr;
    gap: 4rem;
}
@media only screen and (max-width: 768px){
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
}
.profile{
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}
/* profile */
.profile_container{
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
    margin-left: -3rem;
}
.My_profile_picture{
    max-width: 250px;
}
.profile_firstname{
    font-weight: 250;
    font-size: clamp(2rem, 9vw, 4rem);
    color: rgb(88, 198, 163);
}
.profile_lastname{
    font-weight: 380;
    font-size: clamp(3rem, 9vw, 4rem);
    color: rgb(88, 198, 163);
}
.profile_description{
    font-weight: 250;
    font-size: 1.3rem;
    color: rgb(178, 240, 220);
}
.about_me{
    margin-top: 2rem;
    font-size: 1.5rem;
    color: rgb(170, 208, 196);
    font-weight: 300;
    color: var(--text-color);
}
.CV_Experience{
    display: grid;
    color: rgb(88, 198, 163);
    margin-top: 16rem;
    margin-left:50rem;
    font-size: 15px; 
    gap: 1rem;  
    font-size: clamp(1rem, 9vw,1.5rem);
    color: rgb(178, 240, 220);
}
.CV_Education{
    display: grid;
    margin-top: -14rem;
    margin-left: 16rem;
    gap: 1rem;
    font-size: clamp(1rem, 9vw,1.5rem);  
    color: rgb(178, 240, 220);
}
.CV_skills{
    display: grid;
    margin-top: -12rem;
    margin-left: -13rem;
    gap: 1rem; 
    font-size: clamp(1rem, 9vw,1.5rem);
    color: rgb(178, 240, 220);
}


.Skills_header{
    color: rgb(88, 198, 163);
}

.Education_header{
    color: rgb(88, 198, 163);
}
.Experience_header{
    color: rgb(88, 198, 163);
}
.Personal_info{
    display: grid;
    margin-top: 8rem;
    margin-left: -14rem;
    gap: 1rem; 
    font-size: clamp(1rem, 9vw,1.5rem);
    color: rgb(178, 240, 220);
}
.Personal_info_header{
    color: rgb(88, 198, 163);
}

.CV_english{
    margin-top: 10rem;
    margin-left:-15rem ;
    font-size: 1.3rem;
    color: rgb(88, 198, 163);
    font-weight: 300;
    
}
.CV_englsh_header{
    color: rgb(88, 198, 163);
    margin-top: 22rem;
}
.GPA_header{
    color: rgb(88, 198, 163);
    margin-left: -1rem;
    margin-top: 5rem;
    font-size: 25px;
}
.GPA{
    gap: 1rem;
    display: grid;
    text-align-last: center;
    margin-top: -5.8rem;
}
.html_header{
    color: rgb(88, 198, 163);
    margin-left: -92rem;
    margin-top: 5rem;
    font-size: 25px;
}
.python_header{
    color: rgb(88, 198, 163);
    margin-left: 2rem;
    margin-top: -6rem;
    font-size: 25px;;
   
}
.contact{
    display: grid;
    margin-top: 35rem;
    margin-left: -25rem;
    gap: 1rem; 
    font-size: clamp(1rem, 9vw,1.5rem);
    color: rgb(178, 240, 220);
}
.contact_header{
    color: rgb(57, 160, 128);
    margin-top: 35rem;
}
.certificates{
    color: rgb(57, 160, 128);
    margin-top: 10rem;
    margin-left: -13rem;
    font-size: 2px;

}
.certificates_header{
    color: rgb(57, 160, 128);
    margin-top: rem;
    margin-left: -13rem;
    font-size: 40px;
}
.python_ig{
    width: 100%;
    height: 2;
    max-width: 20%;
}


/* animated scroll */
@keyframes  appear{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.Personal_info{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}
.English_bar_header{
    width: 40%;
    background-color: rgb(71, 172, 156);
    margin-left: -15rem;
    border-radius: 5px;
    text-align: center;;
    color: rgb(0, 0, 0);
    font-size: 20px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}
.GPA_bar_header{
    width: 40%;
    background-color: rgb(71, 172, 156);
    margin-left: 31rem;
    margin-top: -1.5rem;
    border-radius: 5px;
    text-align: center;;
    color: rgb(0, 0, 0);
    font-size: 20px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}
.html_bar_header{
    width: 40%;
    background-color: rgb(71, 172, 156);
    margin-left: -15rem;
    margin-top: rem;
    border-radius: 5px;
    text-align: center;;
    color: rgb(0, 0, 0);
    font-size: 20px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}
.python_bar_header{
    width: 40%;
    background-color: rgb(71, 172, 156);
    margin-left: 31rem;
    margin-top: -0.5rem;
    border-radius: 5px;
    text-align: center;;
    color: rgb(0, 0, 0);
    font-size: 20px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}
.python_ig{
    width: 100%;
    height: 2;
    max-width: 20%;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
}
.html_ig{
    width: 100%;
    height: 2;
    max-width: 20%;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
}
.packet_ig{
    width: 100%;
    height: 2;
    max-width: 20%;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
}
/* navigation styles */

.navbar {
    background-color: #445b5a;
    overflow: hidden;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    float: left;
}

.nav-list li a {
    display:block;
    color: rgb(153, 232, 207);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
   
}

.nav-list li a:hover {
    background-color: #111;
}
        